html, body { 
  height: 100%;
}
html {
  font-size: 16px;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background: #000 url(/skyline.jpg) no-repeat top center / cover;
  margin: 0;
  overscroll-behavior: none;
}
code {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  color: #f5d67b;
  background: rgb(0,0,0,0.8);
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 1vh;
  padding: 8px 10px;
  border-radius: 4px;
}
