html, body { 
  height: 100%;
}
html {
  font-size: 16px;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background: #000 url(/assets/img/skyline.jpg) no-repeat top center / cover;
  margin: 0;
  overscroll-behavior: none;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(35deg, rgba(255,255,255,.6), transparent 50%);
}
button {
  cursor: pointer;
}
main {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: #1b1b1b;
  font-family: Courier New;
  font-size: clamp(1.6rem, calc(3rem - 1vw), 2.1rem);
  line-height: 1.4;
  margin: 1vh;
  padding: 8px 10px;
  border-radius: 4px;
}
main > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
#weather-icon {
  width: 1em;
  height: auto;
  margin-right: 0.6em;
  vertical-align: text-top;
  scale: 2;
}
#locate {
 position: relative;
}
#geolocate {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2em;
  height: 2em;
  border-width: 1px;
  border-radius: 50%;
}
#geolocate span {
  display: block;
  rotate: -90deg;
}
