html, body { 
  height: 100%;
}
html {
  font-size: 16px;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background: #000 url(/assets/img/skyline.jpg) no-repeat top center / cover;
  margin: 0;
  overscroll-behavior: none;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(60deg, rgba(255,255,255,.5), transparent 50%);
}
main {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  color: #1b1b1b;
  font-family: Courier New;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1vh;
  padding: 8px 10px;
  border-radius: 4px;
}
#weather img {
  width: 1em;
  margin-left: 0.1em;
  margin-right: 0.7em;
  vertical-align: text-top;
  scale: 2.5;
}
